*,
*::before,
*::after {
	box-sizing: border-box;
}

body{
	/* background-color: #1d1d1f; */
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Ubuntu Condensed', sans-serif;
	margin:0;
	height:100%;
}
p, h1, h2, h3, h4, h5{
	margin:0;
	font-weight:300;
	text-transform: uppercase;
	color:white;
	font-family:'Ubuntu Condensed', sans-serif;
}
.detailColumn span{
	text-transform: none;
}
.mapCity span{
	text-transform: none;
}

.heading{
	width:100%;
	margin-top: 20px;
}
.nav{
	width:100%;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 140px;
}
/* .nav-active{
	width:100%;
	margin-top: 20px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
} */

.container{
	width:95%;
	/* height: 100vh; */
	/* max-width:1200px; */
	margin:0 auto;
	margin-bottom: 200px;
	/* display:flex;
	flex-wrap: wrap; */
}
.selector{
	width:100%;
	display: flex;
	flex-wrap: wrap;
}
/* 
.btn{
	width:25%;
	height:50px;
	border:none;
	border: 1px solid rgb(114, 112, 112);
	border-radius: 5px;
	/* font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 1.2rem;
	margin: 5px 5px;
	cursor: pointer;
	background-color: #394557;
	color: rgb(249, 247, 252);
} */

.cityBtn{
	width:24%;
	height:50px;
	border:none;
	border: 1px solid rgb(114, 112, 112);
	border-radius: 2px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 1.2rem;
	/* margin: 5px 5px; */
	cursor: pointer;
	background-color: #394557;
	box-shadow: 0px 0px 25px 1px rgba(245,237,245,1);
	color: rgb(249, 247, 252);
	text-decoration: none;
}

.cityBtn:focus{
	background-color: #2f353d;
	outline:0;
}
#flex-container{
	width:100%;
	display:flex;
	justify-content: space-around;
	align-items: center;
	
}

.weatherToday{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width:50%;
	margin-bottom: 25px;

}
.city{
	width: 100%;	
	position: relative;
}
.city::after{
	content: "";
	position: absolute;
	bottom: 0;
	width:100%;
	height: 2px;
	background-color:  #9ca0a3;
	box-shadow: 0px 0px 25px 1px rgba(245,237,245,1);
}
.description{
	margin-top:5px;
	width:100%;
}
.iconToday{
	justify-content: center;
	width: 20%;
	text-align: center;
	/* background-color: rgb(116, 120, 121);
	border-radius: 7%;
	border:1px solid rgb(54, 54, 54); */
	
}
.iconToday img{
	width: 100%;
}
.tempToday {
	width:30%;
	display:flex;
	flex-wrap:wrap;
	text-align: center;
	justify-content: center;
}
.tempToday h1{
	width: 100%;
}
.now{
	width: 100%;
	/* display:flex; */
}
.moreDetail{
	width:50%;
	display:flex;
	justify-content: space-between;
	text-align: center;
}
.detailColumn{
	width:25%;
	text-align: center;
}
.detailColumn i{
	/* width:80%; */
	font-size: 1.5rem;
	margin-bottom: 0.5em;
	text-align: center;
	color:white;
}




.tns-outer{
	width:40%;
	display:flex;
	position: relative;
	margin-right:5%;
	margin-left:5%;
	/* overflow-x: scroll; */
}
.tns-item {
	width:10%;
}
.tns-controls :first-child{
	width:40px;
	height: 40px;
	color: white;
	font-size: 30px;
	border: none;
	border-radius: 50%;
	background-color: #394557;
	position:absolute;
	left:0;
	transform: translate(-100%, 100%);
	box-shadow: 0px 0px 25px 1px rgba(245,237,245,1);
}
.tns-controls :last-child{
	width:40px;
	height: 40px;
	color: white;
	font-size: 30px;
	border: none;
	border-radius: 50%;
	background-color: #394557;
	position:absolute;
	right:0;
	transform: translateX(100%);
	transform: translate(100%, 100%);
	box-shadow: 0px 0px 25px 1px rgba(245,237,245,1);
}





.iconWeek{
	display:flex;
	justify-content: center;
	width: 100%;
}
.iconWeek img{
	width:40%;
}

.daily-flex-container{
	width:100%;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-shadow: 0px 0px 25px 1px rgba(245,237,245,1);
}
.dayColumn{
	width:20%;
	/* border-radius: 5%; */
}
.todayHeading{
	margin-top:5px;
	text-align: center;
}
.dayColumn{
	background-color: #394557;
}
.dayColumn:nth-child(4n+3){
	background-color: #2f353d;
}
.dayColumn p{
	margin:0;
	/* font-size: 1.5rem; */
}

.dayNyght{
	width:100%;
	display:flex;
	justify-content: space-around;
	margin:0 auto;
}
.d{
	color:white;
	font-weight: 300;
	text-align: center;
}
.n{
	/* color:rgb(12, 12, 24); */
	font-weight: 300;
	text-align: center;
}


.testSpec0 {
	width:80%;
	display:flex;
	justify-content: space-around;
	align-items: center;
	display:none;
}
.testSpec0-active{
	display:none;
}

.testSpec1, .testSpec2, .testSpec3, .testSpec4{
	display:none;
}
 .testSpec1-active, .testSpec2-active, .testSpec3-active, .testSpec4-active{
	width:80%;
	display:flex;
	justify-content: space-around;
	align-items: center;
	display:none;
}

.column img{
	width:100%;
}
.column{
	text-align: center;
}
.mapCity{
	width:80px;
	background-color: #394557;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 25px 1px rgba(245,237,245,1);
	
}
.map-container{
	margin-top: 25px;
}

.map{
	width:50%;
	position: relative;
}
.map img{
	width:100%;
}
#vilnius{
	position: absolute;
	top:65%;
	right: 21%;
}
#kaunas{
	position: absolute;
	top:56%;
	right: 45%;
}
#klaipėda{
	position: absolute;
	top:24%;
	left:1%;
}
#šiauliai{
	position: absolute;
	top:18%;
	left:35%;
}
#panevėžys{
	position: absolute;
	top:25%;
	right:35%;
}
#utena{
	position: absolute;
	top:33%;
	right:18%;
}
#tauragė{
	position: absolute;
	top:42%;
	left:15%;
}
#alytus{
	position: absolute;
	bottom:18%;
	right:40%;
}
/* #testSpec1{
	width:100%;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
#testSpec1{
	width:100%;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
#testSpec1{
	width:100%;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
#testSpec1{
	width:100%;
	display:flex;
	justify-content: space-around;
	align-items: center;
} */

@media all and (max-width: 900px){
	#flex-container{
		width:100%;
		margin:0 auto;
	}
	#daily-flex-container{
		width:100%;
	}
	.todayHeading {
		text-align: center;
	}

}
@media all and (max-width: 800px){
	.tns-outer{
		width:82%;
		margin-bottom: 25px;	
	}
	.weatherToday{
		width:100%;
		margin-bottom: 25px;
	}
	#flex-container{
		flex-wrap: wrap;
	}
	.map{
		width: 100%;
	}

}
@media all and (max-width: 630px){
	p{
		font-size: 0.7rem;
	}
	#flex-container{
		width:100%;
		margin:0 auto;
		flex-wrap: wrap;
		margin-top:10px;
	}
	.nav{
		width:100%;
		height: 140px;
	}
	.cityBtn{
		width:48%;
		height:30px;
		font-size: 1rem;
	}
	.weatherToday{
		width:100%;
		margin-bottom: 15px;
	}

	.city{
		width:100%;
		text-align:left;
	}
	.iconToday{
		width:30%;
		text-align: left;
	}
	.iconToday img{
		width:100%;
	}
	.tempToday{
		width:30%;
		
	}
	.moreDetail{
		width:40%;
		height:100%;
		flex-wrap: wrap;
	}
	.detailColumn{
		width:50%;
		margin-bottom: 10px;
	}
	.detailColumn i, h4{
		font-size: 0.8rem;
		margin-bottom: 0px;
	}
	.tns-outer{
		width:82%;
		margin-bottom: 25px;
	}
	.tns-controls :first-child{
		width:30px;
		height:30px;
		font-size: 1rem;
	}
	.tns-controls :last-child{
		width:30px;
		height:30px;
		font-size: 1rem;
	}
	#daily-flex-container{
		width:100%;
		flex-wrap: wrap;
	}
	.dayColumn{
		width:100%;	
		display:flex;
		align-items: center;
		justify-content: space-between;
	}
	.todayHeading{
		text-align: left;
		width:40%;
		margin-left: 10px;
		margin-top: 0;
	}
	.iconWeek{
		width: 20%;
	}
	.iconWeek img{
		width:70%;
	}
	.dayNyght{
		width: 35%;
	}

}

@media all and (max-width: 580px){
	.mapCity{
		width:50px;
	}

}

